*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

div{
    padding: 5px;
}

header{
    background-color: rgb(88, 141, 255) ;
    background-image: url("../img/pattern.png");
    background-size: 400px;
}

.header-logo{
    width: 250px;
    padding-top: 30px;
}

h1{
    width: 80%;
    font-size: 40px;
}

#the-booleaner{
    color: rgba(0, 255, 255, 0.507);
}

.subtitle{
    color: rgba(128, 128, 128, 0.705);
}

.immagini-titolo{
    padding: 10px;
}

.subtitle-img{
    font-size: 13px;
    padding-bottom: 15px;
}

table, th, td{
    border: 1px;
}

th{
    text-align: left;
}

td{
    text-align: left;
   height: 50px; 
}

ul{
    padding-left: 20px;
    list-style-type: circle;
    padding-bottom: 20px;
}
