*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

div{
    padding: 5px;
}

header{
    background-color: rgb(88, 141, 255) ;
    background-image: url("../img/pattern.png");
    background-size: 400px;
}

.header-logo{
    width: 250px;
    padding-top: 30px;
}

h1{
    width: 80%;
    font-size: 40px;
}

#the-booleaner{
    color: rgba(0, 206, 206, 0.911);
}

.subtitle{
    color: rgba(128, 128, 128, 0.966);
}

.immagini-titolo{
    padding-top: 10px;
}

.subtitle-img{
    font-size: 13px;
    padding-bottom: 15px;
}

ul{
    padding-left: 20px;
    list-style-type: circle;
    padding-bottom: 20px;
}

#tabella {
    border-collapse: collapse;
    width: 100%;
}

#tabella td, th{
    text-align: left;
}

#tabella td{
    height: 50px;
}

#tabella th{
    background-color: rgba(0, 78, 114, 0.774);
    color: white;
}

.color-row{
    background-color: rgba(0, 255, 255, 0.377);
}

.last-col{
    width:50%
}

#img1{
    background-image: url("../img/monitor.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    height: 200px;
    margin: 5px;
    margin-bottom: 10px;
}

.testo-img-footer{
    color: white;
    font-size: 150%;
}

#img2{
    background-image: url("../img/graph.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    height: 200px;
    margin: 5px;
}

#titolo-footer{
    color: rgba(41, 41, 41, 0.788);
    font-size: 20px;

}